* {
    box-sizing: border-box;
}

html {
    overflow height: scroll;
}

#header-wrapper {
	overflow: hidden;
	height: 187px;
	width: 100%;
	background: rgb(255,255,204);
	align: "centre";
}

.container {
	width: 90%;
	margin: 0px auto;
}
/*******************/

#banner {
	height: 270px;
	margin-bottom: 30px;
	top: 0px;
	left: 0px;
}

#back {
    right: 10%;
    position: fixed;
}

#canvas1 {
    right: 0px;

}

#choosing_kind {
    background: rgba(191,191,166,0.5);
    padding: 50px;
    border-radius: 10px;
    top: 0px;
    left: 0px;
    z-index: +2;
    float: centre;
}

#page {
	overflow: hidden;
	width: 100%;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}


.info {
    color: rgb(0,0,51);/*rgb(255,255,204);*/
    text-align: centre;
    font-family: 'PT Sans', sans-serif;
}

.title {
    color: rgb(0,0,51);
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.paragraph {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    word-wrap: break-word;
    color: rgb(64,64,89);
    line-height: 25px;
}

#graph {
    z-index = 3;
    position: absolute;
    /*position: fixed;*/
    top: 900px;
    right: 80px;
    width: 700px;

}

.response {
    text-align: "centre";
    color: rgb(64,64,89);
}

body {
    background-image: url("back.png");/*rgb(255,255,204);*/
    height: 100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    overflow: auto
}

input {
    width: 200px;
    padding: 5px;
    margin: 5px 0;

}

button {
    color: rgb(255,255,204);
    background: rgb(0,0,51);
    border: 5px inset rgb(64,64,89);
    border-radius: 10px;
    font-size: 20px;
    align: left;
}

li {
    margin: 5px 0;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}
